[global]
blobcraft_dir = "/home/acd/acdaq/faiza/BlobCraft2x2/"
subsystems = ["crs", "lrs", "minerva"]
db = "morcs.sqlite"
data_stream = "commissioning"
source = "none"
min_run = 1

[crs]
host = "acd-daq02"
screen_session = "record-data"
data_dir = "/data/2025_Operations_Cold/PLS_SET_MORCS_DATA_DIR"
log_dir = "/log/morcs_test"
packet = false
runtime_sec = 600

[lrs]
daq_host = "acd-daq04-priv"   
ssh_host = "acd-daq04"
daq_port = 5051
db_path = "/data/LRS_det_config/lrsdetconfig.db"

[minerva]
#remote_addr = "acd-mnv01"    # underground
#remote_addr = "acd-mnv03"    # Lab F
remote_addr = "localhost"     # tunnel
remote_port = 1090
listen_port = 9998
